<script>
    import "../app.css";
    import Footer from "../lib/components/Footer.svelte";
    import Header from "../lib/components/Header.svelte";
</script>

<link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
/>

<body class="min-h-screen flex flex-col bg-gray-100">
    <Header />
    <main>
        <slot />
    </main>
    <Footer />
</body>
