<footer class="bg-gray-800 text-white p-4 mt-auto">
    <div class="container mx-auto text-center">
        <p>© 2024 SEA Salon. All rights reserved.</p>
        <p>Beauty and Elegance Redefined</p>
    </div>
</footer>
