<script>
    export const title = "SEA Salon";
</script>

<header class="bg-white drop-shadow-md px-8 py-4 lg:px-40 md:py-6 lg:py-6">
    <title>SEA Salon</title>
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-3xl font-bold sm:text-3xl whitespace-nowrap">
            SEA Salon
        </h1>
        <p class="text-lg collapse sm:visible">Beauty and Elegance Redefined</p>
    </div>
</header>
